<ul class="command-dropdown">
    <% if (options.helper) { %><li data-type="helper"><i class="material-icons icon">&#xE86F;</i> <%= L.gettext("Structogram") %></li><% } %>
    <% if (options.loop) { %><li data-type="loop"><i class="material-icons icon">&#xE5D5;</i> <%= L.gettext("Loop") %></li><% } %>
    <% if (options.conditional) { %><li data-type="conditional"><i class="material-icons icon">&#xE0B6;</i> <%= L.gettext("Conditional") %></li><% } %>
    <% if (options.branch) { %><li data-type="branch"><i class="material-icons icon">&#xE0B6;</i> <%= L.gettext("Branch") %></li><% } %>
    <% if (options.command) { %><li data-type="command"><i class="material-icons icon">&#xE86F;</i> <%= L.gettext("Command") %></li><% } %>
</ul>
