<div class="command-line branch-condition">
    <i class="struktogram-icon branch-icon"></i>
    <i class="material-icons command-tools save-command">&#xE5CA;</i>
    <i class="material-icons command-tools add-command">&#xE145;</i>
    <% if (branch >= 0) { %>
        <i class="material-icons command-tools edit-command">&#xE3C9;</i>
        <i class="material-icons command-tools remove-command">&#xE14C;</i>
    <% } %>
    <% for (var i = 0; i < depth; i++) { %><span class="command-padding"></span><% } %>
    <span class="debug"><%= this.cid %></span>
    <span class="syntactic-sugar">
        <% if (branch == 0) { %>if<% }%>
        <% if (branch > 0) { %>else if<% }%>
        <% if (branch < 0) { %>else<% }%>
    </span>
    <%= model.get("condition").replace(/</, "&lt;").replace(/>/, "&gt;") %>
    <span class="syntactic-sugar">
        <% if (branch >= 0) { %>then<% }%>
    </span>
</div>
<form>
    <div class="row form-header">
        <div class="col-xs-12"><%= L.gettext("Properties") %></div>
    </div>
    <div class="form-group">
        <label for="<%= model.cid %>_condition" class="col-xs-4 control-label"><%= L.gettext("condition") %></label>
        <div class="col-xs-8">
            <textarea id="<%= model.cid %>_condition" class="form-control" rows="3" name="condition"><%= model.get('condition') %></textarea>
        </div>
    </div>
</form>
