<div class="command-line command <% if (edit) { %>editing<% } %>">
    <i class="material-icons icon">&#xE86F;</i>
    <% if (edit) { %>
        <i class="material-icons command-tools save-command">&#xE5CA;</i>
    <% } else { %>
        <i class="material-icons command-tools edit-command">&#xE3C9;</i>
        <i class="material-icons command-tools remove-command">&#xE14C;</i>
    <% } %>
    <% for (var i = 0; i < depth; i++) { %><span class="command-padding"></span><% } %>
    <%= model.get("code").replace(/</, "&lt;").replace(/>/, "&gt;").replace(/\s*return/, "<span class='syntactic-sugar'>return</span>") %>
</div>
<% if (edit) { %>
<form>
    <div class="row form-header">
        <div class="col-md-10"><%= L.gettext("Properties") %></div>
        <div class="col-md-2">&nbsp;</div>
    </div>
    <div class="form-group">
        <label for="<%= model.cid %>_code" class="col-md-4 control-label"><%= L.gettext("code") %></label>
        <div class="col-md-8">
            <textarea id="<%= model.cid %>_code" class="form-control" rows="3" name="condition"><%= model.get('code') %></textarea>
        </div>
    </div>
</form>
<% } %>
