<div class="command-line loop-condition">
    <i class="struktogram-icon loop-icon"></i>
    <i class="material-icons command-tools save-command">&#xE5CA;</i>
    <i class="material-icons command-tools add-command">&#xE145;</i>
    <i class="material-icons command-tools edit-command">&#xE3C9;</i>
    <i class="material-icons command-tools remove-command">&#xE14C;</i>
    <% for (var i = 0; i < depth; i++) { %><span class="command-padding"></span><% } %>
    <span class="debug"><%= this.cid %></span>
    <span class="syntactic-sugar">
        <% if (model.get("range")) { %>
            for
        <% } else { if (model.get("test_after")) { %>
            until
        <% } else { %>
            while
        <% } } %>
    </span>
    <%= model.get("condition").replace(/</, "&lt;").replace(/>/, "&gt;").replace(/\bin\b/, "<span class='syntactic-sugar'>in</span>") %>
</div>
<form>
    <div class="row form-header">
        <div class="col-md-10"><%= L.gettext("Properties") %></div>
        <div class="col-md-2">&nbsp;</div>
    </div>
    <div class="form-group">
        <label for="<%= model.cid %>_condition" class="col-md-4 control-label"><%= L.gettext("condition") %></label>
        <div class="col-md-8">
            <textarea id="<%= model.cid %>_condition" class="form-control" rows="3" name="condition"><%= model.get('condition') %></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="<%= model.cid %>_type" class="col-md-4 control-label"><%= L.gettext("type") %></label>
        <div class="col-md-8">
            <select id="<%= model.cid %>_type" name="type" class="form-control">
                <option value="0"<% if (!model.get("range") && !model.get("test_after")) { %> selected<% } %>><%= L.gettext("test before") %></option>
                <option value="1"<% if (!model.get("range") && model.get("test_after")) { %> selected<% } %>><%= L.gettext("test after") %></option>
                <option value="2"<% if (model.get("range")) { %> selected<% } %>><%= L.gettext("range") %></option>
            </select>
        </div>
    </div>
</form>
