<% if (empty) { %>
<div class="empty">
    <%= L.gettext("Load or create a new document") %>
</div>
<% } else { %>
<div class="panel panel-default unselectable">
    <div class="panel-heading">
        <ul>
            <% _.each(model.get("open_documents"), function(doc) { %>
            <% if (edit == doc.cid) { %>
                <li class="edit" data-cid="<%= doc.cid %>">
            <% } else { if (model.get("active_document") === doc) { %>
                <li class="active" data-cid="<%= doc.cid %>">
            <% } else { %>
                <li data-cid="<%= doc.cid %>">
            <% } } %>
            <% if (edit == doc.cid) { %>
                <input type="text" name="name" value="<%= doc.get('name') %>">
                <i class="material-icons save-name">&#xE5CA;</i>
            <% } else { %>
                <span class="document-title"><%= doc.get("name") %></span>
                <i class="material-icons close-tab">&#xE14C;</i>
                <i class="material-icons edit-name">&#xE3C9;</i>
            <% } %>
            </li>
            <% }); %>
        </ul>
    </div>
    <div class="panel-body canvas-container">

    </div>
</div>
<% } %>
