<% if (empty) { %>
<div class="empty">
    <strong><i class="material-icons">&#xE169;</i> Open</strong>
    or create a
    <strong><i class="material-icons">&#xE146;</i> New</strong>
    document.
</div>
<% } else { %>
<div class="panel panel-default unselectable">
    <div class="panel-heading">
        <ul>
            <% _.each(model.get("open_documents"), function(doc) { %>
            <% if (model.get("active_document") === doc) { %>
                <li class="active" data-cid="<%= doc.cid %>">
            <% } else { %>
                <li data-cid="<%= doc.cid %>">
            <% } %>
                <span class="document-title"><%= doc.get("struktogram").get("name") %></span>
                <i class="material-icons close-tab">&#xE14C;</i>
            </li>
            <% }); %>
        </ul>
    </div>
    <div class="panel-body canvas-container">

    </div>
</div>
<% } %>
