<% if (empty) { %>
<div class="empty">
    <%= L.gettext("Load or create a new document") %>
</div>
<% } else { %>
<div class="panel panel-default unselectable">
    <div class="panel-heading">
        <ul>
            <li class="zoom">
                <i class="material-icons zoom-tools zoom-up">&#xE900;</i>
                <span class="zoom-perc"><%= model.get("canvas_zoom") %>%</span>
                <i class="material-icons zoom-tools zoom-down">&#xE8FF;</i>
            </li>
            <% _.each(model.get("open_documents"), function(doc) { %>
            <% if (edit == doc.cid) { %>
            <li class="edit" data-cid="<%= doc.cid %>">
                <i class="material-icons">&#xE2C7;</i>
            <% } else { if (model.get("active_document") === doc) { %>
            <li class="active" data-cid="<%= doc.cid %>">
                <i class="material-icons">&#xE2C7;</i>
            <% } else { %>
            <li data-cid="<%= doc.cid %>">
                <i class="material-icons">&#xE2C8;</i>
            <% } } %>
            <% if (edit == doc.cid) { %>
                <input type="text" name="name" value="<%= doc.get('name') %>">
                <i class="material-icons tab-tools save-name">&#xE5CA;</i>
            <% } else { %>
                <span class="document-title"><%= doc.getName() %></span>
                <i class="material-icons tab-tools close-tab">&#xE14C;</i>
                <i class="material-icons tab-tools edit-name">&#xE3C9;</i>
            <% } %>
            </li>
            <% }); %>
        </ul>
    </div>
    <div class="panel-body canvas-scroll-container">
        <div class="canvas-container">

        </div>
    </div>
</div>
<% } %>
