<i class="material-icons vertical-divider unselectable">&#xE5D4;</i>
<div class="struktogram-container unselectable"></div>
<ul class="command-dropdown">
    <li class="add-helper-item" data-type="helper"><i class="struktogram-icon struktogram-icon"></i> <%= L.gettext("Structogram") %></li>
    <li class="add-loop-item" data-type="loop"><i class="struktogram-icon loop-icon"></i> <%= L.gettext("Loop") %></li>
    <li class="add-conditional-item" data-type="conditional"><i class="struktogram-icon conditional-icon"></i> <%= L.gettext("Conditional") %></li>
    <li class="add-branch-item" data-type="branch"><i class="struktogram-icon branch-icon"></i> <%= L.gettext("Branch") %></li>
    <li class="add-command-item" data-type="command"><i class="struktogram-icon command-icon"></i> <%= L.gettext("Command") %></li>
</ul>
