<% if (!context_only) { %>
<div class="panel panel-default unselectable">
    <div class="panel-heading">
        <a href="javascript:void(0)" class="btn control-reset"><i class="material-icons">&#xE5D5;</i></a>
        <div class="debug-counter">–</div>
        <a href="javascript:void(0)" class="btn control-run<% if (!button_states.run) { %> hide<% } %>"><i class="material-icons">&#xE037;</i></a>
        <a href="javascript:void(0)" class="btn control-pause<% if (!button_states.pause) { %> hide<% } %>"><i class="material-icons">&#xE034;</i></a>
        <a href="javascript:void(0)" class="btn control-back<% if (!button_states.back) { %> disabled<% } %>"><i class="material-icons">&#xE045;</i></a>
        <a href="javascript:void(0)" class="btn control-next<% if (!button_states.next) { %> disabled<% } %>"><i class="material-icons">&#xE044;</i></a>
    </div>
    <div class="panel-body">
<% } %>

<% if (context) { for (var name in context.get("variables")) { %>
    <div class="form-group">
        <label for="variable_<%= name %>" class="col-md-2 control-label"><%= name %></label>
        <div class="col-md-10">
            <input id="variable_<%= name %>" name="<%= name %>" type="text" class="form-control" value="<%= context.get('variables')[name] %>">
        </div>
    </div>
<% } } %>

<% if (!context_only) { %>
    </div>
</div>
<% } %>
