<ul class="command-dropdown">
    <% if (options.command) { %><li data-type="command"><i class="material-icons icon">&#xE86F;</i> Command</li><% } %>
    <% if (options.conditional) { %><li data-type="conditional"><i class="material-icons icon">&#xE0B6;</i> Conditional</li><% } %>
    <% if (options.branch) { %><li data-type="branch"><i class="material-icons icon">&#xE0B6;</i> Branch</li><% } %>
    <% if (options.loop) { %><li data-type="loop"><i class="material-icons icon">&#xE5D5;</i> Loop</li><% } %>
</ul>
