<div class="loop-condition <% if (edit) { %>editing<% } %>">
    <i class="material-icons icon">&#xE5D5;</i>
    <% if (edit) { %>
        <i class="material-icons command-tools save-command">&#xE5CA;</i>
    <% } else { %>
        <i class="material-icons command-tools add-command">&#xE145;</i>
        <i class="material-icons command-tools edit-command">&#xE3C9;</i>
        <i class="material-icons command-tools remove-command">&#xE14C;</i>
    <% } %>
    <% for (var i = 0; i < depth; i++) { %><span class="command-padding"></span><% } %>
    <span class="syntactic-sugar">
        <% if (model.get("condition").get("range")) { %>
            for
        <% } else { if (model.get("condition").get("test_after")) { %>
            until
        <% } else { %>
            while
        <% } } %>
    </span>
    <%= model.get("condition").get("code") %>
</div>
<% if (edit) { %>
<form>
    <table>
        <tr class="header"><th colspan="2">Properties</th>
            <th>&nbsp;</th></tr>
        <tr><th>condition</th>
            <td colspan="2"><textarea name="name"><%= model.get('condition').get("code") %></textarea></td></tr>
        <tr><th>type</th>
            <td colspan="2"><select name="type">
                <option value="0"<% if (!model.get("condition").get("range") && !model.get("condition").get("test_after")) { %> selected<% } %>>test before</option>
                <option value="1"<% if (!model.get("condition").get("range") && model.get("condition").get("test_after")) { %> selected<% } %>>test after</option>
                <option value="2"<% if (model.get("condition").get("range")) { %> selected<% } %>>range</option>
            </td></tr>
    </table>
</form>
<% } %>
