* {
    box-sizing: border-box;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

html, body {
    padding: 0;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-image: url("../images/material.jpg");
    background-size: 100% 100%;
}

#content {
    position: relative;
    height: 100%;
    background: rgba(255,255,255,0.9);
}


#watcher, #output {
    position: absolute;
    height: 200px;
    bottom: 0;
}

#output {
    padding: 10px 7px 10px 15px;
}
#watcher .panel,
#output .panel {
    height: 100%;
}

.ui-editor .vertical-divider,
#output .vertical-divider {
    position: absolute;
    top: 50%;
    right: -8px;
    margin-top: -10px;
    color: #999;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: ew-resize;
    z-index: 1000;
}
.ui-editor .vertical-divider {
    right: -15px;
}
#output .horizontal-divider {
    position: absolute;
    top: 0;
    right: -8px;
    margin-top: -10px;
    color: #999;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: ns-resize;
    z-index: 1000;
}

#watcher {
    right: 0;
    padding: 10px 10px 10px 7px;
}
#watcher .panel-body {
    overflow: auto;
}
#watcher .form-group {
    margin: 0;
    overflow: auto;
    padding: 0;
}
#watcher .form-group > div,
#watcher .form-group > label {
    padding: 0;
}
#watcher .form-group label {
    padding-left: 10px;
}
#watcher .form-group label,
#watcher .form-group input,
#watcher .form-group .context-data {
    font-family: "Ubuntu Mono", "Courier New", monospace;
    font-size: 1.0em;
}
#watcher .form-control {
    height: 25px;
}
#watcher .form-group label.control-label {
    margin-top: 6px;
}

#output .panel-heading,
#watcher .panel-heading {
    padding: 0;
    height: 35px;
}
#output .panel-title,
#watcher .debug-counter {
    padding: 7px 10px;
    color: #999;
    height: 35px;
}
#watcher .debug-counter {
    float: right;
}
#watcher .context-header {
    background: #ddd;
    padding: 3px 5px;
    margin: 0;
}
#output .control-reset,
#watcher .control-reset {
    float: right;
}
#output .btn,
#watcher .btn {
    height: 35px;
    padding: 5px 10px;
    margin: 0;
}
#output .panel-body,
#watcher .panel-body {
    overflow: auto;
    padding: 0;
}

#watcher_modal .text-danger {
    padding-left: 30px;
    position: relative;
}
#watcher_modal .text-danger .material-icons {
    position: absolute;
    left: 0;
    margin-top: -2px;
}

#settings_modal .modal-header {
    padding-left: 45px;
    position: relative;
}
#settings_modal .modal-header .material-icons {
    position: absolute;
    left: 15px;
    margin-top: 1px;
}

#output .panel-body {
    font-family: "Ubuntu Mono", "Courier New", monospace;
    font-size: 1.0em;
    padding-left: 10px;
    padding-bottom: 10px;
}
