.ui-canvas {
    position: absolute;
    padding: 10px 10px 10px 15px;
}
.ui-canvas .panel-heading {
    padding: 0;
}
.ui-canvas .panel-heading ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}
.ui-canvas .panel-heading ul li {
    float: left;
    background: #fff;
    height: 40px;
    padding: 10px;
    margin-right: 1px;
    cursor: pointer;
    /*transition: background .3s; */
}
.ui-canvas .panel-heading ul li .close-tab {
    float: right;
    margin: 2px 0 0 5px;
    font-size: 1.2em;
    opacity: 0;

    transition: opacity .3s;
}
.ui-canvas .panel-heading ul li:hover .close-tab {
    opacity: 0.3;
}
.ui-canvas .panel-heading ul li:hover .close-tab:hover {
    opacity: 1;
}
.ui-canvas .panel-heading ul li:hover {
    background: rgba(63, 81, 181, 0.05);
    color: #fff;
}
.ui-canvas .panel-heading ul .active {
    padding-bottom: 8px;
    border-bottom: 2px solid #3F51B5;
}
.ui-canvas .empty {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2.0em;
    opacity: 0.5;
    width: 80%;
    color: #fff;
}
.ui-canvas .empty strong {
    position: relative;
    display: inline-block;
    padding-left: 30px;
}
.ui-canvas .empty .material-icons {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 1.0em;
}
.ui-canvas .canvas-container {
    text-align: center;
    overflow: auto;
}

.ui-canvas .canvas-container canvas {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
