.ui-toolbar {
    margin: 0;
    width: 100%;
    position: absolute;
}

.unsafe .navbar.navbar-inverse {
    background: rgb(200, 0, 0);
}


.navbar-nav li i.material-icons {
    font-size: 1.3em;
    display: inline-block;
    margin-top: -2px;
}
.navbar-brand strong {
    display: inline-block;
    border: 1px solid #fff;
    padding: 0 8px;
    line-height: 29px;
    background: rgba(255,255,255,0.2);
}
.navbar-brand i.logo {
    display: inline-block;
    width: 104px;
    height: 24px;
    margin-top: 3px;
    background: url("../images/logo.png");
    background-size: 100%;
    background-position: bottom left;
}

.navbar-nav > li a {
    transition: background .3s;
}
.navbar .navbar-nav>li>a:hover {
    background: rgba(255,255,255,0.1);
}
.navbar-nav > li a.disabled {
    opacity: 0.3;
}
.navbar .navbar-nav>li>a.disabled:hover {
    background: none;
    cursor: not-allowed;
}

#open_docuemnt_input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
